* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
}

main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
} 

.photo {
    width: calc(50% - 40px);
    height: calc((35vw - 40px) / 16 * 9);
    background-color: red;
    margin: 20px 20px 0 0;
    transition: all 0,5s ease;
}

.photo:hover {
    transform: rotate(3deg) scale(1.07);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.photo1 {
    background-image: url(../img/1.jpg);
    background-size: cover;
}

.photo2 {
    background-image: url(../img/2.jpg);
    background-size: cover;
}

.photo3 {
    background-image: url(../img/3.jpg);
    background-size: cover;
}

.photo4 {
    background-image: url(../img/4.jpg);
    background-size: cover;
}

.photo5 {
    background-image: url(../img/5.jpg);
    background-size: cover;
}

.photo6 {
    background-image: url(../img/6.jpg);
    background-size: cover;
}
